body {
    background-image: url("images/image-from-rawpixel-id-3299089-jpeg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.container {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 780px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin: auto;
}

.logo {
    display: flex;
    margin: auto;
}

#red {
    color: red;
    font-family: Tw Cen MT Condensed;
    font-size: 40px;
    text-align: center;
}

.text {
    font-family: Tw Cen MT Condensed;
    font-size: 44px;
    text-align: center;
    margin: -2rem 0 0 0rem;
    padding: 1rem;
}

.content {
    font-family: Tw Cen MT Condensed;
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

.buttons {
    border: 1px solid;
    width: 120px;
    border-radius: 15px;
    height: 40px;
    background-color: rgb(255, 102, 0);
    font-family: Tw Cen MT Condensed;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.buttons:hover {
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}

#center {
    text-align: center;
    padding-left: 35%;
}

.social-media {
    width: 100%;
    margin: 0rem 0 0 18rem;
}

.social-media ul {
    list-style: none;
}

.social-media ul li {
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.rights {
    font-family: Tw Cen MT Condensed;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0rem;
}